body {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
ol {
  list-style-type: none;
}
h1 {
  text-align: center;
  margin-bottom: 0;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
}
nav {
  display: flex;
  justify-content: space-around;
  grid-row-start: 2;
  margin-left: 50px;
}
main {
  grid-row-start: 3;
}
.group {
  padding: 50px;
  margin: 50px;
  margin-bottom: 100px;
  grid-column-start: 1/3;
  border: none;
  border-top: 1px solid black;
  height: 1px;
  width: 50%;
}

nav a:link{text-decoration:none;}

a:link{color:black;
  text-decoration: underline;
font-size:1.5vw}
  a:hover, :active {color:black;
  text-decoration:none;
font-size:2vw;}

a:visited - a link the user has visited
a:active - a link the moment it is clicked