/* CATEGORIES */
body {
  background-color: antiquewhite;
  display: grid;
  grid-template-rows: auto;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
ol {
  list-style-type: none;
}
h1 {
  text-align: center;
  grid-column: 1/-1;
  margin-bottom: 0.5vw;
  border: solid 5px grey;
  padding: 1vw;
}
nav {
  display: flex;
  justify-content: space-around;
  grid-row-start: 2;
  grid-column: 1/-1;
  text-align: left;
  margin-bottom: 0.5vw;
  border: solid 1px black;
  padding: 0.5vw;
}

.group {
  padding: 50px;
  margin: 50px;
  margin-bottom: 100px;
  grid-column-start: 1/3;
  border: none;
  border-top: 1px solid black;
  height: 1px;
  width: 50%;
}

nav a:link {
  text-decoration: none;
}

a:link {
  color: black;
  text-decoration: underline;
  font-size: 1.5vw;
  font-weight: 500;
}
a:hover,
:active {
  color: black;
  text-decoration: none;
  font-size: 2vw;
  font-weight: 500;
}

/* LIST */

main.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.list article {
  display: flex;
  flex-direction: column;
}
.discounted {
  order: 5;
  font-weight: 900;
  background-color: orange;
  font-size: 1.6vw;
  margin: 0.5px;
  max-width: 30%;
}
.list.discounted {
  display: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  order: 1;
}
h3 {
  order: 2;
  font-size: 1.5vw;
  text-align: center;
  padding-bottom: 2px;
}
.label {
  order: 3;
}
.price {
  order: 4;
}

.list article.onSale::before {
  content: "10";
  background-color: white;
  border: orange solid;
  border-radius: 0px 50px 50px 0px;
  color: orange;
  font-size: 1.8vw;
  font-weight: 900;
  letter-spacing: 1.8px;
  position: absolute;
  padding: 5px 7px;
  z-index: 2;
  margin: 30px 5px 0px 0px;
}
.infobox {
  border: hotpink 2px dashed;
  order: 3;
}
.soldout {
  order: 5;
  font-weight: 900;
  background-color: rgb(241, 89, 89);
  margin-bottom: 0.5px;
  max-width: 30%;
}
.list article.soldOut::before {
  content: "SOLD OUT";
  position: absolute;
  background-color: white;
  border: rgb(241, 89, 89) solid;
  border-radius: 0px 50px 50px 0px;
  color: rgb(241, 89, 89);
  font-size: 1.8vw;
  font-weight: 900;
  letter-spacing: 1.8px;
  padding: 5px 7px;
  z-index: 2;
  margin: 80px 5px 0px 0px;
}
.list article.soldOut img {
  opacity: 0.5;
}
.list article .discounted,
.list article .price span {
  display: none;
}
.list article.onSale .discounted,
.list article.onSale .price span {
  display: initial;
}
main.product {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  gap: 2rem;
}

.firstimage {
  order: 1;
}
.secondimage {
  order: 2;
}
section.info {
  order: 3;
}
.purchaseBox {
  order: 4;
  grid-row-start: 5;
  border: hotpink 2px dashed;
  text-align: center;
  padding: 30px;
  font-size: 2vw;
  margin-top: 0.6vw;
}
.producttitle {
  grid-row-start: 3;
}
.priceproduct {
  text-align: center;
  font-size: 1.8vw;
  color: hotpink;
  font-weight: 900;
}
